<div class="olympiads-list">
    {{#olympiads}}
    <div class="olympiad-card">
        <div class="olympiad-image">
            <img src="{{image}}" alt="{{name}}" />
        </div>
        <div class="olympiad-details">
            <h3><a href="{{signupurl}}">{{name}}</a></h3>
        </div>
    </div>
    {{/olympiads}}
</div>
